.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #fff;
}

.left-column {
  flex: 1;
  padding: 20px;
}

.right-column {
  flex: 1;
  padding: 20px;
  border-left: 1px solid #ccc;
}

.input-container {
  text-align: center;
}

input[type="file"] {
  display: none;
}

label {
  display: block;
  padding: 10px;
  margin: 0 auto;
  font-size: 16px;
  color: #fff;
  background-color: #007bff;
  border-radius: 5px;
  cursor: pointer;
}

label:hover {
  background-color: #0056b3;
}

p {
  font-size: 18px;
  line-height: 1.5;
  color: #333;
  text-align: justify;
}
